@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,500&family=Ubuntu:wght@400;500;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;  
}

html{
  scroll-behavior: smooth;
}


body{
  background-color:#0c0f16;

  /*Menu fixo no rodape*/
  /*display:flex;
  flex-direction: column;  /*Rodapé vai para o Fim*/
}



.max-width{
  max-width:1300px;  
  padding:0 10px;
  margin:auto; 

}

.navbar{
  position:fixed;
  width:100%;
  z-index: 999;
  padding: 20px 0;
  font-family: 'ubuntu', sans-serif;
  background-color:#121721;
 /* background-color:none;*/ 
  border-bottom: solid #1b202a 2px;
}

.navbar .max-width{
  display:flex;
  align-items:center;
  justify-content:space-between
}
.navbar .logo{
  color:#547ec7;
  font-size: 35px;
  font-weight:500px
}
.navbar .menu li{
  list-style: none; /*retira os pontinhos da lista*/
  display: inline-block; /*todos em uma linha*/
  }

  .navbar .menu li a{
    display: block;
    color: #fff;
    font-size:18px;
    font-weight:400px;
    margin-left: 25px; /*espaçamento entre as palavras do menu*/
  }

  .menu-btn{
    color:#fff;
    font-size:23px;
    cursor: pointer; 
   display:none; /*não aparece na tela */
  }

  /*Responsividade*/
  @media(max-width:947px){
    .menu-btn{
      display:block;
      z-index: 999;
    }
    .menu-btn i.active::before {
      content:"\f00d";

    }
    .navbar .menu{
      background-color: #121721;
      position:fixed;
      height: 100vh;
      width: 100%;
      left: -100%;
      top: 0;
      text-align: center;
      padding-top: 80px;
      transition: all 0.3s ease;
    }
  
    .navbar .menu.active{
      left:0;      
    }
    .navbar .menu li{
      display:block;
    }
    .navbar .menu li a{
      display:inline-block;
      margin:13px 0;
      font-size:25px;
    } 
    .max-width{
      max-width:930px;
    }
  }

  section{
    padding: 50px 0;

}

@media(max-width:690px){
    section{
        padding: 50px 0;
    }
  }
    .top{
        color: #fff;
        display: flex;
        background: url('../images/topo_v2.jpg') no-repeat center;
        height: 100vh;
        min-height: 500px;
        background-attachment: fixed;
        font-family: ubuntu,'sans-serif';  
        background-size: cover;    
}
.top .max-width{
width: 100%;
display: flex;
}

.top .top-content .text-1{
font-size: 25px;
margin-top:100px
}
.top .top-content .text-2{
font-size: 55px;
font-weight: 400px;
margin-left: -3px;
}

.top .top-content .text-3{
font-size: 32px;
font-weight: 400px;
margin: 5px 0; 
}

.top .top-content a{  
display: inline-block;
background: #b02ab7;
color:#fff;
font-size: 25px;
padding: 12px 36px;
margin-top: 20px;
font-weight: 300px;
border-radius: 6px;
border:2px solid #b02ab7;
transition:all 0.3s ease;

}

.top .top-content a:hover{
color:#b02ab7;
background: none;  
}


/*Servicos*/

.service{
  color:#fff;
  background-color: #0c0f16;
  font-family: Poppins, 'sans-serif';
  }
  .service .title{
    text-align: center;
    margin:40px 0;
    font-weight: 400px;
    font-size: 35px;
  }
  .service .serv-content{
    display:flex; /*coloca tudo em uma linha*/
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .service .serv-content .card{
    width: calc(33%  - 20px);
    background-color: #1b202a;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .service .serv-content .card:hover{
    background: #b02ab7;
    transition: all 0.3s ease;
  }
  .service .serv-content .card i{
    font-size: 50px;
    color:#b02ab7
  }

  .service .serv-content .card:hover i{
   color: #fff;
  }

  .service .serv-content .card .box{
    transition: all 0.5s ease;
  }

  .service .serv-content .card:hover .box{
    transform:scale(1.05); /*efeito aproximacao*/
    
  }

  .service .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin:10px 0 7px 0;
  }

  @media(max-width: 947px){
    .service .serv-content .card{
      width: calc(50% - 10px);
      margin-bottom: 20px;
      

    }

  }
  /* deixa card abaixo do outro*/
  @media(max-width:690px){
    .service .serv-content .card{
      width: 100%;
    }

  }


    /*formulario de contato*/
.contact{
  color:#fff;
  background-color: #151921;
  font-family: Poppins, 'sans-serif';
  padding-bottom:100px ;
}

.contact .title{
  text-align: center;
  margin-bottom: 50px;
  padding-top: 50px;
  font-weight: 400;
  font-size: 35px;

}

.contact .contact-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

}

.contact .contact-content .column{
  width: calc(50% - 30px);
}

.contact .contact-content .left p{ 
  text-align: justify;

}
.contact .contact-content .left .icons{
  margin: 10px;
}
.contact .contact-content .row{
  display: flex;
  height: 65px;
  align-items: center;
}
.contact .contact-content .row .info{
  margin-left: 30px;
}

.contact .contact-content .row i{
  font-size: 25px;
  color: #b02ab7;
}
.contact .contact-content .info .head{
  font-weight: 500;
}
.contact .contact-content .info .sub-title{
  color:#f6f6f6;
}

.contact .contact-content .text{
  font-size: 20px;
  font-weight: 500; /*Espessura*/
  margin-bottom: 10px;
}

.contact .right form .field,
.contact .right form .fields .field{
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}
.contact .right form .textarea{
  height: 80px;
  width: 100%;
}
.contact .right form .name{
  margin-right: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea{
  height: 100%;
  width: 100%;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-family: Poppins ,'sans-serif';
  transition: all 0.3s ease;
}

/*Cor da Borda*/
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
border-color: #b02ab7;

}
.contact .right .button-area{
  display: flex;
  align-items: center;
}

.right .button-area button{
  color:#fff;
  display:block;
  width: 160px;
  height: 45px;
  outline: none;
  background-color: #b02ab7;
  font-size: 18px;
  font-weight: 400;
  border-radius: 6px;
  cursor: pointer;  
  border:2px solid #b02ab7;
  transition: all 0.3s ease;
}

.right .button-area button:hover{
  color:#b02ab7;
  background: none;
}


.contact .contact-content .textarea{
  padding-top: 10px;
  resize: none;
}

@media(max-width:947px){
  .contact .contact-content .column{
    width: 100%;
    margin-bottom: 35px;
  }
}
@media(max-width:500px){
  .contact .title{
    margin: top 10px;
  }
  .contact .right form .fields{
    flex-direction: column;
  }
  .contact .right .name,
  .contact .right .email{
    margin:0;

  }
}

footer{
  background-color:#121721;
  padding:25px 23px;
  color:#fff;
  text-align:center;
  font-family: 'poppins',sans-serif;
  margin-top:auto;
}
footer span a{
  color:#547ec7;
}
footer span a:hover{
  color:#fff

}